<section class="experience-section" id="gallery">
    <div class="experience-container container">
        <div class="experience-descriptions">
            <h2 class="experience-title">Coffee Moments</h2>
            <p class="experience-subtitle">Experience the warmth and community of CoffeeJoy.</p>
        </div>


        <ul class="experience-gallery-list">
        <!-- Image 1 -->
            <li class="experience-gallery-item">
                <picture>
                    <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-01.jpg 1x,
                    img/5.experience/05-d-img-01@2x.jpg 2x
                    " />
                    <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-01.jpg 1x,
                    img/5.experience/05-t-img-01@2x.jpg 2x
                    " />
                    <img class="experience-gallery-image" src="img/5.experience/05-m-img-01.jpg"
                    srcset="/img/5.experience/05-m-img-01@2x.jpg 2x" alt="Coffee moment 1: Latte art"
                    loading="lazy" />
                </picture>
            </li>
        <!-- Image 2 -->
            <li class="experience-gallery-item">
                <picture>
                    <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-02.jpg 1x,
                    img/5.experience/05-d-img-02@2x.jpg 2x
                    " />
                    <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-02.jpg 1x,
                    img/5.experience/05-t-img-02@2x.jpg 2x
                    " />
                    <img class="experience-gallery-image" src="img/5.experience/05-m-img-02.jpg"
                    srcset="img/5.experience/05-m-img-02@2x.jpg 2x" alt="Coffee moment 2: Pour over coffee"
                    loading="lazy" />
                </picture>
            </li>
        <!-- Image 3 -->
            <li class="experience-gallery-item">
                <picture>
                    <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-03.jpg 1x,
                    img/5.experience/05-d-img-03@2x.jpg 2x
                    " />
                    <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-03.jpg 1x,
                    img/5.experience/05-t-img-03@2x.jpg 2x
                    " />
                    <img class="experience-gallery-image" src="img/5.experience/05-m-img-03.jpg"
                    srcset="img/5.experience/05-m-img-03@2x.jpg 2x" alt="Coffee moment 3: Cozy chair with book"
                    loading="lazy" />
                </picture>
            </li>
        <!-- Image 4 -->
            <li class="experience-gallery-item item-4">
                <picture>
                    <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-04.jpg 1x,
                    img/5.experience/05-d-img-04@2x.jpg 2x
                    " />
                    <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-04.jpg  1x,
                    img/5.experience/05-t-img-04@2x.jpg 2x
                    " />
                    <img class="experience-gallery-image" src="img/5.experience/05-m-img-04.jpg"
                    srcset="/img/5.experience/05-m-img-04@2x.jpg 2x" alt="Coffee moment 4: Hand stirring coffee"
                    loading="lazy" />
                </picture>
            </li>
        <!-- Image 5 -->
            <li class="experience-gallery-item">
                <picture>
                    <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-05.jpg 1x,
                    img/5.experience/05-d-img-05@2x.jpg 2x
                    " />
                    <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-05.jpg 1x,
                    img/5.experience/05-t-img-05@2x.jpg 2x
                    " />
                    <img class="experience-gallery-image" src="img/5.experience/05-m-img-05.jpg"
                    srcset="img/5.experience/05-m-img-05@2x.jpg 2x" alt="Coffee moment 5: Coffee shop interior"
                    loading="lazy" />
                </picture>
            </li>

        <!-- Image 6 -->
            <li class="experience-gallery-item">
                <picture>
                    <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-06.jpg    1x,
                    img/5.experience/05-d-img-06@2x.jpg 2x
                    " />
                    <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-06.jpg    1x,
                    img/5.experience/05-t-img-06@2x.jpg 2x
                    " />
                    <img class="experience-gallery-image" src="img/5.experience/05-m-img-06.jpg"
                    srcset="img/5.experience/05-m-img-06@2x.jpg 2x"
                    alt="Coffee moment 6: Plants and coffee cups" loading="lazy" />
                </picture>
            </li>
        <!-- Image 7 -->
            <li class="experience-gallery-item">
                <picture>
                    <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-07.jpg    1x,
                    img/5.experience/05-d-img-07@2x.jpg 2x
                    " />
                    <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-07.jpg    1x,
                    img/5.experience/05-t-img-07@2x.jpg 2x
                    " />
                    <img class="experience-gallery-image" src="img/5.experience/05-m-img-07.jpg"
                    srcset="img/5.experience/05-m-img-07@2x.jpg 2x" alt="Coffee moment 7: To-go cup with book"
                    loading="lazy" />
                </picture>
            </li>
        </ul>
    </div>
</section>