<!-- 
  Partial for Experience ("Coffee Moments") section
  File: experience.html
-->
<section class="experience-section" id="gallery">
    <div class="container">
        <h2 class="experience-title">Coffee Moments</h2>
        <p class="experience-description">
            Experience the warmth and community of CoffeeJoy.
        </p>

        <!-- 
      DESKTOP: This list becomes a flex-container (row)
      TABLET/MOBILE: This structure is ignored, .experience-gallery-item is styled directly
    -->
        <ul class="experience-gallery-list">
            <!-- 
        COLUMN 1 (Desktop)
      -->
            <li class="gallery-list-item">
                <ul class="experience-gallery-column">
                    <!-- Image 1 (e.g., latte art - square) -->
                    <li class="experience-gallery-item item-1">
                        <picture>
                            <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-01.jpg 1x,
                    img/5.experience/05-d-img-01@2x.jpg 2x
                  " />
                            <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-01.jpg 1x,
                    img/5.experience/05-t-img-01@2x.jpg 2x
                  " />
                            <img class="experience-gallery-image" src="img/5.experience/05-m-img-01.jpg"
                                srcset="/img/5.experience/05-m-img-01@2x.jpg 2x" alt="Coffee moment 1: Latte art"
                                loading="lazy" />
                        </picture>
                    </li>
                    <!-- Image 2 (e.g., pour over - square in previous, but adjust if needed) -->
                    <li class="experience-gallery-item item-2">
                        <picture>
                            <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-02.jpg 1x,
                    img/5.experience/05-d-img-02@2x.jpg 2x
                  " />
                            <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-02.jpg 1x,
                    img/5.experience/05-t-img-02@2x.jpg 2x
                  " />
                            <img class="experience-gallery-image" src="img/5.experience/05-m-img-02.jpg"
                                srcset="img/5.experience/05-m-img-02@2x.jpg 2x" alt="Coffee moment 2: Pour over coffee"
                                loading="lazy" />
                        </picture>
                    </li>
                </ul>
            </li>

            <!-- COLUMN 2 -->
            <li class="gallery-list-item">
                <ul class="experience-gallery-column">
                    <!-- Image 3 (landscape in CSS) -->
                    <li class="experience-gallery-item item-3">
                        <picture>
                            <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-03.jpg 1x,
                    img/5.experience/05-d-img-03@2x.jpg 2x
                  " />
                            <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-03.jpg 1x,
                    img/5.experience/05-t-img-03@2x.jpg 2x
                  " />
                            <img class="experience-gallery-image" src="img/5.experience/05-m-img-03.jpg"
                                srcset="img/5.experience/05-m-img-03@2x.jpg 2x" alt="Coffee moment 3: Cozy chair with book"
                                loading="lazy" />
                        </picture>
                    </li>
                    <!-- Image 4 (landscape) -->
                    <li class="experience-gallery-item item-4">
                        <picture>
                            <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-04.jpg 1x,
                    img/5.experience/05-d-img-04@2x.jpg 2x
                  " />
                            <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-04.jpg  1x,
                    img/5.experience/05-t-img-04@2x.jpg 2x
                  " />
                            <img class="experience-gallery-image" src="img/5.experience/05-m-img-04.jpg"
                                srcset="/img/5.experience/05-m-img-04@2x.jpg 2x" alt="Coffee moment 4: Hand stirring coffee"
                                loading="lazy" />
                        </picture>
                    </li>
                    <!-- Image 5 (square) -->
                    <li class="experience-gallery-item item-5">
                        <picture>
                            <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-05.jpg 1x,
                    img/5.experience/05-d-img-05@2x.jpg 2x
                  " />
                            <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-05.jpg 1x,
                    img/5.experience/05-t-img-05@2x.jpg 2x
                  " />
                            <img class="experience-gallery-image" src="img/5.experience/05-m-img-05.jpg"
                                srcset="img/5.experience/05-m-img-05@2x.jpg 2x" alt="Coffee moment 5: Coffee shop interior"
                                loading="lazy" />
                        </picture>
                    </li>
                </ul>
            </li>

            <!-- COLUMN 3 -->
            <li class="gallery-list-item">
                <ul class="experience-gallery-column">
                    <!-- Image 6 (square) -->
                    <li class="experience-gallery-item item-6">
                        <picture>
                            <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-06.jpg    1x,
                    img/5.experience/05-d-img-06@2x.jpg 2x
                  " />
                            <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-06.jpg    1x,
                    img/5.experience/05-t-img-06@2x.jpg 2x
                  " />
                            <img class="experience-gallery-image" src="img/5.experience/05-m-img-06.jpg"
                                srcset="img/5.experience/05-m-img-06@2x.jpg 2x"
                                alt="Coffee moment 6: Plants and coffee cups" loading="lazy" />
                        </picture>
                    </li>
                    <!-- Image 7 (tall/wide depending on view) -->
                    <li class="experience-gallery-item item-7">
                        <picture>
                            <source media="(min-width: 1440px)" srcset="
                    img/5.experience/05-d-img-07.jpg    1x,
                    img/5.experience/05-d-img-07@2x.jpg 2x
                  " />
                            <source media="(min-width: 768px)" srcset="
                    img/5.experience/05-t-img-07.jpg    1x,
                    img/5.experience/05-t-img-07@2x.jpg 2x
                  " />
                            <img class="experience-gallery-image" src="img/5.experience/05-m-img-07.jpg"
                                srcset="img/5.experience/05-m-img-07@2x.jpg 2x" alt="Coffee moment 7: To-go cup with book"
                                loading="lazy" />
                        </picture>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>