<footer class="page-footer">
    <div class="footer-container">
        <div class="footer-inner">
            <div class="footer-left">
                <a href="#" class="footer-logo">
                    <svg width="100" height="auto">
                        <use href="./src/img/icons.svg#icon-logo"></use>
                    </svg>
                </a>

                <ul class="social-list">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"
                            aria-label="Facebook">
                            <svg width="24" height="24">
                                <use href="./src/img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"
                            aria-label="Instagram">
                            <svg width="24" height="24">
                                <use href="./src/img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/" target="_blank" rel="noopener noreferrer" aria-label="X">
                            <svg width="24" height="24">
                                <use href="./src/img/icons.svg#icon-X"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="footer-nav">
                <li><a href="#about_us">About us</a></li>
                <li><a href="#benefits">Benefits</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#location">Location</a></li>
            </ul>
        </div>

        <p class="footer-copy">© 2025 CoffeeJoy. All rights reserved.</p>
    </div>
</footer>
