<div class="backdrop" data-modal>
    <div class="modal" >
        <button type="button" class="btn-close" name="btn-close" data-modal-close><svg class="btn-close-icon" width="24" height="24" data-modal-clos><use href="./img/icons.svg#close"></use></svg></button>
        <div class="modal-wrapper">
            <div class="modal-title">Welcome to the world of CoffeeJoy!</div>
            <div class="modal-text">Fresh brews, special offers, and cozy updates are coming your way.</div>
        </div>
        <div class="modal-image">
            <picture>
                <source media="(min-width: 1440px)" srcset="./img/10.modal/10-d-img.jpg x1, ./img/10.modal/10-d-img@2x.jpg x2"/>
                <source media="(min-width: 768px)" srcset="./img/10.modal/10-t-img.jpg x1, ./img/10.modal/10-t-img@2x.jpg x2" />
                <source media="(max-width: 767px)" srcset="./img/10.modal/10-m-img.jpg x1, ./img/10.modal/10-m-img@2x.jpg x2" />
                <img src="./img/10.modal/10-d-img.jpg" alt="coffee-mail" width="644">
            </picture>
        </div>
        <button type="button" class="modal-button button" name="modal-button" data-modal-close>Close</button>
    </div>
</div>