<section id="benefits" class="quality">
  <div class="quality-container container">
    <p class="subtext">Quality</p>
    <div class="quality-header">
      <h2 class="section-title">Why CoffeeJoy Stands Out from the Rest</h2>
      <p class="quality-intro">
        At CoffeeJoy, we pride ourselves on delivering the freshest roasted
        coffee, crafted with care by our skilled baristas. Our flexible
        subscription plans ensure that your coffee experience is tailored to
        your needs.
      </p>
    </div>
    <ul class="quality-list">
      <li class="quality-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              img/4.quality/04-d-img-01@2x.jpg 2x,
              img/4.quality/04-d-img-01.jpg    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/4.quality/04-t-img-01@2x.jpg 2x,
              img/4.quality/04-t-img-01.jpg    1x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              img/4.quality/04-m-img-01@2x.jpg 2x,
              img/4.quality/04-m-img-01.jpg    1x
            "
          />
          <img
            class="quality-card"
            src="img/4.quality/04-m-img-01.jpg"
            alt="Roasted Coffee"
          />
        </picture>
        <h3 class="quality-item-title">Fresh-Roasted Coffee for Every Taste</h3>
        <p class="section-text">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="quality-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              img/4.quality/04-d-img-02@2x.jpg 2x,
              img/4.quality/04-d-img-02.jpg    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/4.quality/04-t-img-02@2x.jpg 2x,
              img/4.quality/04-t-img-02.jpg    1x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              img/4.quality/04-m-img-02@2x.jpg 2x,
              img/4.quality/04-m-img-02.jpg    1x
            "
          />
          <img
            class="quality-card"
            src="img/4.quality/04-m-img-02.jpg"
            alt="Baristas"
          />
        </picture>

        <h3 class="quality-item-title">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="section-text">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="quality-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              img/4.quality/04-d-img-03@2x.jpg 2x,
              img/4.quality/04-d-img-03.jpg    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/4.quality/04-t-img-03@2x.jpg 2x,
              img/4.quality/04-t-img-03.jpg    1x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              img/4.quality/04-m-img-03@2x.jpg 2x,
              img/4.quality/04-m-img-03.jpg    1x
            "
          />
          <img
            class="quality-card"
            src="img/4.quality/04-m-img-03.jpg"
            alt="Atmosphere"
          />
        </picture>

        <h3 class="quality-item-title">Cozy Atmosphere</h3>
        <p class="section-text">
          We don’t just serve coffee — we create a warm and welcoming space
          where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</section>
