
      <section class="subscribe-section">
        <div class="subscribe-container container">
          <div class="all-subs-content">
            <div class="subscribe-content">
              <h2 class="subscribe-title">
                Join Our Coffee <span class="break">Community</span>
              </h2>
              <p class="subscribe-text">
                Experience the joy of coffee delivered right to your door. Sign
                up today!
              </p>
            </div>
            <div class="subscribe-wrapper">
              <form class="subscribe-form" name="subscribe-form">
                <label for="subscribe-email" class="label-subscribe">
                  <input
                    type="email"
                    class="subscribe-form-input"
                    id="subscribe-email"
                    placeholder="Your Email Here"
                    name="email"
                    required
                  />
                  <!-- <span class="error-message">Error Text</span> -->
                </label>
                <button type="submit" class="subscribe-button button" data-modal-open>
                  Subscribe
                  <svg class="modal-subscribe-icon" width="24" height="24">
                    <use href="img/icons.svg#chevrons-right"></use>
                  </svg>
                </button>
              </form>
              <p class="subscribe-form-text">
                By clicking Get Started, you agree to our Terms and Conditions.
              </p>
            </div>
          </div>
          <div class="subscribe-content-wrapper">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1440px )"
                srcset="
                  img/6.subscribe/06-d-img.jpg    1x,
                  img/6.subscribe/06-d-img@2x.jpg 2x
                "
              />
              <!-- TAB -->
              <source
                media="(min-width: 757px)"
                srcset="
                  img/6.subscribe/06-t-img.jpg    1x,
                  img/6.subscribe/06-t-img@2x.jpg 2x
                "
              />
              <img
                srcset="
                  img/6.subscribe/06-m-img.jpg    1x,
                  img/6.subscribe/06-m-img@2x.jpg 2x
                "
                src="img/6.subscribe/06-m-img.jpg"
                alt="Subscribe-img"
                class="subscribe-img"
              />
            </picture>
          </div>
        </div>
      </section>

