<section class="testimonials">
  <div class="container">
    <h2 class="testimonials-title">What our visitors say</h2>
    <ul class="testimonials-list">
      <!--  1-li  -->
      <li class="testimonials-item">
        <div class="testimonials-body">
          <div class="stars">
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon-border" width="20" height="19">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
          </div>
          <p class="testimonials-text">
            "Every cup feels like a warm hug! I’m addicted to their seasonal
            flavors!"
          </p>
        </div>
        <p class="testimonial-name">Sofia Tomson</p>
      </li>
      <!-- 2-li -->
      <li class="testimonials-item">
        <div class="testimonials-body">
          <div class="stars">
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon-border" width="20" height="19" fill="none">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
          </div>
          <p class="testimonials-text">
            "CoffeeJoy is my go-to place for a perfect cup of coffee! The
            ambiance is so inviting, and the baristas are always friendly."
          </p>
        </div>
        <p class="testimonial-name">Alice Johnson</p>
      </li>
      <!-- 3-li -->
      <li class="testimonials-item">
        <div class="testimonials-body">
          <div class="stars">
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19" fill="none">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
          </div>
          <p class="testimonials-text">
            "I love the variety of blends offered at CoffeeJoy. Every visit
            feels like a new experience!"
          </p>
        </div>
        <p class="testimonial-name">Michael Smith</p>
      </li>
      <!-- 4-li -->
      <li class="testimonials-item">
        <div class="testimonials-body">
          <div class="stars">
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon-border" width="20" height="19">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
            <svg class="star-icon-border" width="20" height="19" fill="none">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
          </div>
          <p class="testimonials-text">
            "The pastries are to die for! I can’t resist pairing them with my
            favorite latte. Highly recommend this spot!"
          </p>
        </div>
        <p class="testimonial-name">Emily Davis</p>
      </li>
      <!-- 5-li -->
      <li class="testimonials-item">
        <div class="testimonials-body">
          <div class="stars">
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19" fill="none">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
          </div>
          <p class="testimonials-text">
            "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
            here every weekend!"
          </p>
        </div>
        <p class="testimonial-name">James Brown</p>
      </li>
      <!-- 6-li -->
      <li class="testimonials-item">
        <div class="testimonials-body">
          <div class="stars">
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon-border" width="20" height="19">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
            <svg class="star-icon-border" width="20" height="19" fill="none">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
          </div>
          <p class="testimonials-text">
            "The atmosphere is perfect for working or relaxing with friends.
            Their Wi-Fi is fast too!"
          </p>
        </div>
        <p class="testimonial-name">Sarah Wilson</p>
      </li>
      <!-- 7-li -->
      <li class="testimonials-item">
        <div class="testimonials-body">
          <div class="stars">
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon-border" width="20" height="19">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
          </div>
          <p class="testimonials-text">
            "I’m addicted to their seasonal flavors! Each one is crafted with
            such care and creativity."
          </p>
        </div>
        <p class="testimonial-name">Chris Lee</p>
      </li>
      <!-- 8-li -->
      <li class="testimonials-item">
        <div class="testimonials-body">
          <div class="stars">
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon" width="20" height="19">
              <use href="../img/icons.svg#star-filled"></use>
            </svg>
            <svg class="star-icon-border" width="20" height="19">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
          </div>
          <p class="testimonials-text">
            "I appreciate how they source their coffee beans sustainably. It's
            great to support such an ethical business!"
          </p>
        </div>
        <p class="testimonial-name">Patricia Taylor</p>
      </li>
    </ul>
  </div>
</section>
