
<section class="welcome-section" id="about_us">

    <div class="container">
      <div class="wstablet">
      <div class="wiright">
        <p class="welcome-p-title">Welcome</p>
        <h2 class="welcome-h2">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="wileft">
      <p class="welcome-p">At CoffeeJoy, we believe that every cup tells a story. Our mission is to bring you the finest coffee experiences, crafted with care and dedication. We are committed to sourcing high-quality beans and roasting them to perfection, ensuring each sip is a delight.</p>
        <a href="#location" class="fl-button button">Find location
          <svg class="welcome-map-pin">
            <use href="../img/icons.svg#map-pin" widht="24" height="24"></use>
          </svg>
        </a>
      </div>
      </div>
      <picture> <source media="(min-width: 1440px)" srcset="../img/3.welcome/03-d-img@2x.jpg 2x, ../img/3.welcome/03-d-img.jpg 1x"/> <source media="(min-width: 786px)" srcset="../img/3.welcome/03-t-img@2x.jpg 2x, ../img/3.welcome/03-t-img.jpg 1x"/> <source media="(max-width: 785px)" srcset="../img/3.welcome/03-m-img@2x.jpg 2x, ../img/3.welcome/03-m-img.jpg 1x"/> <img class="welcome-img" src="../img/3.welcome/03-d-img.jpg" alt="Barista" width="100%"> </picture>
    </div>


</section>