:root {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;

  color: #000000;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #e0cbb4;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}


/* #region Section's titles */
h2 {
    font-family: "Aboreto", system-ui;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.01em;
    font-size: 36px;
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    h2 {
        font-size: 48px;
    }
}
/* #endregion */

.button {
    border-radius: 100px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6f4e37;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
    opacity: 0.5;
}



