/* #region MOBILE */
.experience-section {}

.experience-container {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-descriptions {
    margin-bottom: 32px;
}
.experience-title {
    text-align: center;
    margin-bottom: 24px;
}

.experience-subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}

.experience-gallery-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.gallery-list-item {
    width: auto;
}


.experience-gallery-image {
    border-radius: 32px;
}

/* #endregion MOBILE */


/* #region TABLET */
@media only screen and (min-width: 768px) {
    .experience-gallery-list {
        flex-direction: row;
    }
}
/* #endregion TABLET */


/* #region DESKTOP */
@media only screen and (min-width: 1440px) {
    .experience-gallery-list {
     flex-direction: column;
     height: 948px;
     justify-content: start;
    }
}
/* #endregion DESKTOP */