/* Styles for Mobile devices */
.page-footer {
    background-color: #b58869;
}

.footer-container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.footer-inner {
    padding: 32px 46px;
    width: 288px;
    background-color: #c29d84;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.footer-logo-icon {
    width: 196px;
    height: 84px;
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.footer-icon {
    width: 32px;
    height: 32px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav a:hover {
    border-bottom: 1px solid #0b0803;
    cursor: pointer;
}

.footer-copy {
    font-size: 14px;
    line-height: 1.5;
    color: #0b0803;
}


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .footer-inner {
    width: 704px;
   }
   .footer-left {
    flex-direction: row;
   }
   .footer-nav {
    flex-direction: row;
   }
   .footer-icon {
       width: 24px;
       height: 24px;
   }
   .footer-logo-icon {
       width: 84px;
       height: 36px;
   }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    .footer-inner {
    width: 1312px;
    flex-direction: row;
    justify-content: space-between;
   }
   
   .footer-icon {
       width: 24px;
       height: 24px;
   }
}