.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
}

/* #region Mobile*/
.modal {
    min-width: 288px;
    background-color: #e0cbb4;
    padding: 64px 16px;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0b0803;
}

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0;
}

.btn-close-icon {
    fill: #0b0803;
}

.modal-title {
    font-family: "Aboreto", system-ui;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 16px;
}

.modal-text {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 24px;
}

.modal-image {
    margin-bottom: 24px;
}

.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 256px;
    height: 44px;
}

/* #endregion */


/* #region Tablet*/
@media only screen and (min-width: 768px) {
    .modal {
        min-width: 704px;
        padding: 64px 30px;
    }
    .modal-wrapper {
        padding-left: 34px;
        padding-right: 34px;
    }
    .modal-title {
        font-size: 48px;
    }
    .modal-button {
        width: 274px;
    }
}

/* #endregion */


/* #region Desktop*/
    @media only screen and (min-width: 1440px) {
    .modal {
        min-width: 866px;
        padding: 64px;
    }
    .modal-wrapper{
        padding-left: 0;
        padding-right: 0;
    }
    .modal-title {
        font-size: 48px;
    }
    .modal-text {
        margin-bottom: 48px;
    }
    .modal-image {
        margin-bottom: 48px;
        padding-left: 47px;
        padding-right: 47px;
    }
    .modal-button {
        width: 340px;
    }
}

/* #endregion */