.subscribe-container {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media only screen and (min-width: 1440px) {
  .subscribe-container {
    padding: 64px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .subscribe-container {
    padding: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }
}

.all-subs-content {
  margin-bottom: 32px;
}

.subscribe-content {
  margin-bottom: 32px;
}
.subscribe-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .subscribe-title {
    display: inline-block;
  }
}
@media only screen and (min-width: 1440px) {
  .subscribe-title {
    font-size: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .break {
    display: block;
  }
}

.subscribe-text {
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
}

.label-subscribe {
  display: block;
  margin-bottom: 24px;
}
.subscribe-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: 1px solid rgba(11, 8, 3, 0.15);

  padding: 8px 12px;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .subscribe-form-input {
    width: 340px;
    height: 44px;
  }
}
.subscribe-form-input:focus {
  outline: none;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;

  width: 100%;
  height: 44px;
  margin-bottom: 16px;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .subscribe-button {
    width: 158px;
  }
}

.modal-subscribe-icon {
  fill: currentColor;
}

.subscribe-form-text {
  font-size: 12px;
}

.subscribe-img {
  width: 100%;
  height: 400px;
  border-radius: 40px;
}

@media only screen and (min-width: 1440px) {
  .subscribe-img {
    width: 640px;
    object-fit: cover;
  }
}
