@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Quicksand:wght@300..700&display=swap');

.welcome-container {
  background-color: #E0CBB4;
  overflow: hidden;
  box-sizing: border-box;
}

.wstablet {
  margin-bottom: 32px;
}

.welcome-section {
  padding: 64px 0;
  background-color: #E0CBB4;
}

.welcome-p {
font-family: Quicksand;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;

}

.welcome-img-t {
   width: 100%;
  height: auto;
  border-radius: 25px;
  display: none;
}

.welcome-img-m {
   width: 100%;
  height: auto;
  border-radius: 25px;
  display: block;
}

.welcome-img-d {
   width: 100%;
  height: auto;
  border-radius: 25px;
  display: none;
}


.welcome-h2 {
font-family: 'Aboreto', serif;
font-weight: 400;
font-style: Regular;
font-size: 36px;
line-height: 1.2;
margin-bottom: 32px;

}

.welcome-p-title {
font-family: 'Quicksand', sans-serif;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 1.5;
margin-bottom: 16px;

}



.fl-button {
width: 100%;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
padding: 10px 24px;
border-radius: 100px;
background-color: #6F4E37;
color: #FFF;
text-decoration: none;
margin-top: 32px;
box-shadow:
  0 1px 2px rgba(0,0,0,0.05),
  inset 0 -2px 1px rgba(0,0,0,0.2),
  inset 0 0 0 1px rgba(0,0,0,0.08),
  inset 0 2px 1px rgba(255,255,255,0.25);
cursor: pointer;
transition: background-color 0.3s ease;
}

.fl-button:hover,
.fl-button:focus {
  background-color: #A18268;
  outline: none;
}

.fl-button svg,
.fl-button svg * {
  width: 20px;
  height: 20px;
  fill: currentColor;
  color: inherit;
  vertical-align: middle;
}

.welcome-map-pin {
  margin-left: 7px;
  height: 20px;
  width: 20px;
}


@media (min-width: 768px) {
  .wstablet {
    display: flex;
    flex-direction: row;
  }

  .welcome-img-m {
    display: none;
  }

  .welcome-img-t {
    display: block;
  }

  .fl-button {
    width: auto;
  }

  .wiright,
  .wileft {
    width: 336px;
  }

  .wiright {
    margin-right: 32px;
  }

  .welcome-img {
    margin-top: 24px;
  }
}

@media (min-width: 1440px) {

  .welcome-img-t {
    display: none;
  }

   .wiright,
  .wileft {
    width: 640px;
  }

  .welcome-img-d {
    display: block;
  }

.wstablet {
  margin-bottom: 80px;
}

.welcome-h2 {
  font-size: 48px;
}

}